[submodule "covid_alert_user_ms"]
	path = covid_alert_user_ms
	url = https://github.com/Niorth/covid_alert_user_ms.git
[submodule "covid_alert_position_ms"]
	path = covid_alert_position_ms
	url = https://github.com/Niorth/covid_alert_position_ms.git
[submodule "covid_alert_covidState_ms"]
	path = covid_alert_covidState_ms
	url = https://github.com/Niorth/covid_alert_covidState_ms.git
[submodule "covid_alert_notifications_ms"]
	path = covid_alert_notifications_ms
	url = https://github.com/Niorth/covid_alert_notifications_ms.git
[submodule "covid_alert_gateway_ms"]
	path = covid_alert_gateway_ms
	url = https://github.com/Niorth/covid_alert_gateway_ms.git
[submodule "covid_alert_suspiciousPositions_ms"]
	path = covid_alert_suspiciousPositions_ms
	url = https://github.com/Niorth/covid_alert_suspiciousPositions_ms.git
